
main {
    margin: 0.6em;
}
.alerts > ul {
  list-style: none;
  padding: 0;
}

.alerts > li {
    
}
.vcenterz {
    margin: 0.5rem;
  padding: 0.5rem 0 0.8rem 0;
  display: flex;
  gap: 1em;
  border-bottom: 1px solid var(--bs-grey-3);
}
.alert {
  margin: 0.5rem;
  padding: 0.5rem 0 0.8rem 0;
  display: flex;
  gap: 1em;
  border-bottom: 1px solid var(--bs-grey-3);
}
.vcenter {
    border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--bs-grey-3);
}
.activity-list {
     border-style: solid;
    border-radius: 8px;
    border-width: 1px;
    border-color: var(--bs-grey-3);
    padding: 10px;
    padding-left: 20px;
}
.alert-h1 {
    text-align: left;
}
.vcenter-h2 {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 40px;
  font-size: 1.5em;
  font-family: var(--bs-body-font-family);
  margin: 0;
  font-weight: bold;
}
.alerts h2 {
  margin: 0;
  font-size: 1.5em;
  font-family: var(--bs-body-font-family);
  margin: 0;
  font-weight: bold;
  
}

.activities-h2 {
  margin: 0;
  padding-bottom: 10px;
  padding-top: 40px;
  font-size: 1.5em;
  font-family: var(--bs-body-font-family);
  margin: 0;
  font-weight: bold;
}

.alert p {
  margin: 0;
}

.alert-svg {
  height: 15px;
  width: 15px;
  margin: 0.25em;
  margin-top: 1.1em;
  flex: 0 0 auto;
  background-color: var(--bs-white);
  fill: white;
}