
/* Global styles */

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body, a {
  font-family: var(--bs-body-font-family);
  font-size: 11px;
  margin: 0;
  
}
span {
  color: white;

}
a {
  text-decoration: none;
  color: white;
}
a:link,
a:visited {
 /* color: var(--bs-link-color); */
}
.real-site-link {
  color:blue;
  text-decoration: solid;
}
a:hover {
  color: var(--bs-link-hover-color);
}

/* Skip links styling */
.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}
.icon {
  width: 20px;
  height: 20px;
  margin: 0, auto;
}
button {
 border-top: none;
}

.black {
  color: black;
}

dt {
  font-weight: bold;
  padding-bottom: 5px;

}
dd {
  
}