/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
  color: white;
  

}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
  color: white;
  font-weight: bold;
  white-space: nowrap;
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}


.global-header {
  display: flex;
  background-color: black;
  height: 50px;
  padding: 20px;
  width: 100%;
}
.site-title {
  width: 80%;
  
}
.global-header__right {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  justify-content: right;
}
#global-nav-toggle {
    display: flex;
    align-items: center;   
    gap: 2px;   
    background-color: black;  
    justify-content: right;
          
}
.search-icon {
  justify-self: center;
  background-color: none;
  margin-right: 10px;
  
}
.menu {
  color: white;
}
#park-header {
  background-color: black;

}
.hero-banner {
  width: 100%;
  
}

.park_nav_list {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  
}
.park_nav_a {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 15px; 
    padding-top: 0px;   
}
.hero {
  width: 100%;
}
.hero-banner {
  position: relative;;
}
.hero-banner__content {
  display: flex;
  position: absolute; 
  bottom: 0px; 
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 60px;;
  padding-top: 10px;
  padding-bottom: 10px;;
}
.hero_banner_title {
  font-size: 2.2em;
  color: white;
  padding: 10px;
  
}

.hero_banner_subtitle {
  width: 100px;
  white-space: wrap;
}
.head-links {
  width: 90%;
  padding-top: 20px;
  font-weight: bold;
  font-size: 1.5em;
}

