@import "global.css";
@import "variables.css";
@import "utilities.css";
@import "header.css";
@import "footer.css";
@import "home.css";
@import "conditions.css";

@media (min-width: 400px) {
  .hero {
  max-height: 400px;
  object-fit: cover;
}
@media (min-width: 650px) {
  .park_nav_list {
    gap: 20px;
  }
  .info {
    flex-direction: row;
    padding-bottom: 20px;
    
  }
  h1 {
    text-align: left;
    padding-left: 30px;
    font-size: 2.5em;
  }
  .intro {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .intro-p {
    font-size: 1.6em;
    width: 100%;
    padding-left: 30px;
    
  }
  .infoImage {
  width: 95%;
  height: 30%;     
  object-fit: cover; 
  } 
  .container {
    width: 33%
  }
  .icon {
    width: 25px; 
    height: 25px;
  }
  footer {
    padding: 2%;
  }
}
}
