:root {
  --bs-black: #000;
  --bs-brown: #393423;
  --bs-grey-2: #444;
  --bs-grey-3: #ccc;
  --bs-grey-4: #222;
  --bs-grey-5: #333;
  --bs-grey-6: #999;
  --bs-cape-honey: #ffe9ab;
  --bs-cerulean: #00aced;
  --bs-code-grey: #1d1d1d;
  --bs-chathams-blue: #0f4f7e;
  --bs-chathams-blue-2: #005999;
  --bs-chathams-blue-3: #87a7be;
  --bs-chathams-blue-4: #e1ebf4;
  --bs-crete: #4b5e26;
  --bs-light-green: #eaf0dc;
  --bs-dark-burgundy: #821206;
  --bs-emperor: #4f4f4f;
  --bs-madison: #093058;
  --bs-pampas: #f6f5f0;
  --bs-pablo: #73705f;
  --bs-white: #fff;
  --bs-pablo-2: #706d61;
  --bs-purple: #44136c;
  --bs-purple-2: #956cb7;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #4b5e26;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 75, 94, 38;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-serif: "Times New Roman", Times, serif;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.75;
  --bs-body-color: #212529;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #005999;
  --bs-link-hover-color: #003e6b;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

/* Global styles */

* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}

body, a {
  font-family: var(--bs-body-font-family);
  font-size: 11px;
  margin: 0;
  
}
span {
  color: white;

}
a {
  text-decoration: none;
  color: white;
}
a:link,
a:visited {
 /* color: var(--bs-link-color); */
}
.real-site-link {
  color:blue;
  text-decoration: solid;
}
a:hover {
  color: var(--bs-link-hover-color);
}

/* Skip links styling */
.skip-links ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.skip-links a {
  font-size: 11px;
  font-size: 0.6875rem;
  position: absolute;
  right: 20px;
  top: -200px;
  z-index: -1;
}

.skip-links a:focus {
  top: 2px;
  z-index: 9999;
}

/* Title and logo styling */

.site-title {
  display: flex;
  align-items: center;
  color: white;
  

}
.site-title > span {
  font-size: 1rem;
  margin-left: 0.3em;
  color: white;
  font-weight: bold;
  white-space: nowrap;
  
}

.logo {
  height: 0;
  width: 0;
  margin: 0.5em;
  display: inline-block;
  border-top: 34px solid var(--bs-light-green);
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
}

/* Utility styles */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

svg {
  background-color: var(--bs-black);
  fill: white;
}
.global-header {
  display: flex;
  background-color: black;
  height: 50px;
  padding: 20px;
  width: 100%;
}
.site-title {
  width: 80%;
  
}
.global-header__right {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  justify-content: right;
}
#global-nav-toggle {
    display: flex;
    align-items: center;   
    gap: 2px;   
    background-color: black;  
    justify-content: right;
          
}
.search-icon {
  justify-self: center;
  background-color: none;
  margin-right: 10px;
  
}
.menu {
  color: white;
}
#park-header {
  background-color: black;

}
.hero-banner {
  width: 100%;
  
}

.park_nav_list {
  display: flex;
  background-color: black;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  
}
.park_nav_a {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 15px; 
    padding-top: 0px;   
}

.hidden {
    display: none;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 0, auto;
}
button {
 border-top: none;
}
.hero {
  width: 100%;
}
.hero-banner {
  position: relative;;
}
.hero-banner__content {
  display: flex;
  position: absolute; 
  bottom: 0px; 
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 60px;;
  padding-top: 10px;
  padding-bottom: 10px;;
}
.hero_banner_title {
  font-size: 2.2em;
  color: white;
  padding: 10px;
  
}

.hero_banner_subtitle {
  width: 100px;
  white-space: wrap;
}
.black {
  color: black;
}
h1 {
  font-size: 2em;
  font-style: none;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  letter-spacing: 1px;
}
.infoP {
  
}
.head-links {
  width: 90%;
  padding-top: 20px;
  font-weight: bold;
  font-size: 1.5em;
}
h2 {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.2em;
}
dt {
  font-weight: bold;
  padding-bottom: 5px;

}
dd {
  
}
.container {
    display: flex;
    flex-direction: column;
  }
.info-p {
  width: 90%;
  font-size: 1.2em;
  
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}
.intro {
  width: 90%;
  margin: auto;
  margin-top: 30px;;
  margin-bottom: 30px;
}
.infoImage {
  width: 100%;
  align-self: center;
}
footer {
  background-color: #dee2e6;
  padding: 4%;
}
.intro-p {
    font-size: 1.2em;
  }
@media (min-width: 400px) {
  .hero {
  max-height: 400px;
  object-fit: cover;
}
@media (min-width: 650px) {
  .park_nav_list {
    gap: 20px;
  }
  .info {
    flex-direction: row;
    padding-bottom: 20px;
    
  }
  h1 {
    text-align: left;
    padding-left: 30px;
    font-size: 2.5em;
  }
  .intro {
    width: 100%;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  .intro-p {
    font-size: 1.6em;
    width: 100%;
    padding-left: 30px;
    
  }
  .infoImage {
  width: 95%;
  height: 30%;     
  object-fit: cover; 
  } 
  .container {
    width: 33%
  }
  .icon {
    width: 25px; 
    height: 25px;
  }
  footer {
    padding: 2%;
  }
}
}
